// Variable Colors
$background: #282c34;
$foreground: #dcdfe4;
$white: #ffffff;
$purple: #bd93f9;
$orange: #ffb86c;
$red: #ff5555;
$green: #50fa7b;
$yellow: #f1fa8c;
$blue: #8be9fd;
$magenta: #ff79c6;
$cyan: #8be9fd;
$pink: #ff79c6;
