// Variable Color's
$background:    #21242B;
$foreground:    #F8F8F2;
$white:         #F8F8F2;
$purple:        #BD93F9;
$orange:        #FFB86C;
$red:           #FF5555;
$green:         #50FA7b;
$yellow:        #F1FA8c;
$blue:          #6272A4;
$magenta:       #BB9AF7;
$cyan:          #8BE9FD;
$orange:        #FFB86C;
$pink:          #FF79C6;
