// Variable Color's
$background: #000000;
$foreground: #FFFFFF;
$white: #FFFFFF;
$purple: #BD93F9;
$orange: #FFB86C;
$red: #FF0000;
$green: #00FF00;
$yellow: #FFFF00;
$blue: #0000FF;
$magenta: #FF00FF;
$cyan: #00FFFF;
$pink: #FF69B4;





