// Variable Colors
$background: #272822;
$foreground: #F8F8F2;
$white: #F8F8F2;
$purple: #AE81FF;
$orange: #FD971F;
$red: #FF6188;
$green: #A6E22E;
$yellow: #E6DB74;
$blue: #66D9EF;
$magenta: #F92672;
$cyan: #A1EFE4;
$orange: #FD971F;
$pink: #F92672;
