// Variable Colors
$foreground: #d8dee9;
$background: #2e3440;
$black:      #3b4252;
$white:      #eceff4;
$red:        #bf616a;
$green:      #a3be8c;
$yellow:     #ebcb8b;
$blue:       #81a1c1;
$magenta:    #b48ead;
$purple:     #b48ead;
$cyan:       #8fbcbb;
$orange:     #d08770;
$pink:       #d8dee9;
