// Variable Colors
$background: #1d1f21;
$foreground: #c5c8c6;
$white: #ffffff;
$purple: #a368f0;
$orange: #de935f;
$red: #cc6666;
$green: #b5bd68;
$yellow: #f0c674;
$blue: #81a2be;
$magenta: #b294bb;
$cyan: #8abeb7;
$pink: #f08c8c;

